/**
 * @module src/index.ts
 * @purpose The package entry point for {{ project_name }}, to be replaced by its real public surface.
 * @inputs nothing
 * @outputs the package version
 * @effects none
 * @errors none
 */
// {{ description or project_name }}

export const VERSION = "0.1.0";
